body{
    display: flex;
    background-color: rgb(224, 246, 246);
    font: normal 8px Verdana;
    align-items: center;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    font: normal 12px Verdana;
    border-radius: 10px;
    padding: 30px;
    padding-top: 10px;
    width: 400px;
}

input{
    width: 400px;
    height: 20px;
}

.jaj{
    background-color: #d2508d;
}